<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> NaturilizeUS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="top-bar">
      <h1 class = "title-main"> Naturalize <span style = "color: #42c2f5">US</span></h1>
      <div class="top-buttons">
        <a href="{{url_for('breakdown')}}"> <button class = "button top-button"> Civics Practice Tests</button></a>
         <a href="{{url_for('breakdown')}}"> <button class = "button top-button" >Example Oral Answers</button></a>
      </div>

    </div>

    <div class = "header-container">
      <div class="back-img">
        <div class = "title">
            <div class = "subtitle">
              <h2 class=" white-text" style = "margin: 4px; letter-spacing: 1px;">Guiding you on your path to US Citizenship</h2>
          </div>

        </div>
        <div class="test_breakdown">
          <a href="{{url_for('breakdown')}}"> <button class = "button main-button">  Test Breakdown</button> </a>

        </div>
      </div>


      <div class="buttons">

      </div>
    </div>


  </body>

  	 <!--ADD BANNER/IMAGE ON SPLASH PAGE!--->
</html>
