<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> NaturilizeUS</title>
  </head>
  <body>
		<h1>What is the US Citizenship Test?</h1>
		<h2> Breakdown </h2>
		<p1> You will be tested on 3 different things:</p1>
    <br> </br>
		
    <p2> Civics Knowledge and Comprehension</p2>
    <p> This will test your knowledge of American Civics and History. You will be asked to correctly answer 6 pout of 10 questions chosen from a set of 100 total questions. Be prepared to answer all the questions.</p>
    
    <p3> English Reading/Speaking Skills</p3>
    <p> Your fluency and understanding of the English will be observed by your USCIS agent during your eligibility interview. You will also be asked to read aloud 1 out of three sentences given during your interview.
    <br></br>
    
    <p4> English Writing Skills</p4>
    <p> Your writing ability in the English language will be tested by you correctly writing 1 of 3 sentences given to you orally by your USCIS agent.</p>
  
  </body>
  <br></br>
  <button>
  USCIS Website
  </button>


  	 <!--ADD BANNER/IMAGE ON SPLASH PAGE!--->
</html>