body{
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  position: relative;
  min-height: 100vw;
}
.top-bar{
  overflow: hidden;
  padding: 5px;
  margin: 5px;

}
.top-buttons{
  float: right;
  margin-right: 50px;
  margin-top: 13px;
}
.button{
  letter-spacing: 1px;
  font-size: 28px;

  border: 1px solid white;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  width: 200px;
  padding: 20px;
  margin: 24px;
  color: black;
}
.top-button{
width: auto;
padding: 15px;
margin: 5px;
text-align: center;
}
.main-button{
  background-color: white;
  color: #42c2f5;
}
.button:hover{
  background-color: #42d7f5;
  letter-spacing: 1.1px;
  transition:  all 0.3s ease 0s;
  cursor: pointer;
}
.main-button:hover{
  background-color: #f0fcff;
}
.header-container{
  width: 100%;
  align-items: center;
}
.title{
  padding-top : 240px;
  align-items: center;
  padding-bottom: 5px;
  text-align: center;
}
.last-letter{
  color: #42c2f5;
  background-color: #42c2f5;
}
.title-main{
  font-size: 54px;
  float: left;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}
.subtitle{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 34px;

}

.back-img{
  background-image: url( imgs/citizenship-test.jpg );
  background-size: cover;
  align-items: center;
  height: 90vh;

}
.test_breakdown{
  margin-top: 55px;
  padding-top: 25px;
  text-align: center;
  margin: 0 auto;
}


a:visited{
  color: black;
}
a::before{
  color: black;
}
.white-text{
  color: white;
}
