body{
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  position: relative;
  min-height: 100vw;
}
.top-bar{
  overflow: hidden;
  padding: 5px;
}
.header-container{
  width: 100%;
  align-items: center;
}
.title{
  padding-top : 150px;
  align-items: center;
  padding-bottom: 5px;
  text-align: center;
}
.last-letter{
  color: #42c2f5;
  background-color: #42c2f5;
}
h1.title{
  padding-left: 10px;
  font-size: 44px;
  margin: 0px;
  padding: 5px;
  text-align: left;
}
.subtitle{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 34px;

}
.borders::after{
  content: "";
  display: block;
  margin-left: 0 auto;
  width: 100%;
  border-bottom: 1px solid white;
}
.back-img{
  background-image: url( imgs/citizenship-test.jpg );
  background-size: cover;
  align-items: center;
  height: 90vh;

}
.test_breakdown{
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}

.button{
  letter-spacing: 1px;
  font-size: 28px;

  border: 1px solid white;
  background-color: #42c2f5;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  width: 200px;
  padding: 20px;
  margin: 24px;
  color: white;
}
.top-button{
font-size: 13px;
width: auto;
height: 40px;
padding: 5px;
margin: 6px;


}
.button:hover{
  background-color: #42d7f5;
  letter-spacing: 2px;
  transition:  all 0.3s ease 0s;
}
a:visited{
  color: black;
}
a::before{
  color: black;
}
.white-text{
  color: white;
}
